{% extends "designs/default_design.twig" %}

{% block page_title %}
	<a href="{{ path('index') }}">QA-Tools Showcase App</a> / Registration
{% endblock %}

{% block content %}
	<form method="post">
		<div class="large-5 columns">
			{% if register_errors|default('') %}
				<small class="error">
					<ul style="margin-bottom: 0">
						{% for field, error in register_errors %}
							<li>
								{{ field }} - {{ error }}
							</li>
						{% endfor %}
					</ul>
				</small>
			{% endif %}

			<label>
				Username:
				<input type="text" name="u.register[-2][Username]" value="{{ form_data.register.Username|default('') }}"/>
			</label>

			<div class="row">
				<div class="large-6 columns">
					<label>
						Password:
						<input type="password" name="u.register[-2][Password]" value="{{ form_data.register.Password|default('') }}"/>
					</label>
				</div>
				<div class="large-6 columns">
					<label>
						Verify Password:
						<input type="password" name="u.register[-2][VerifyPassword]" value="{{ form_data.register.VerifyPassword|default('') }}"/>
					</label>
				</div>
			</div>

			<label>
				E-mail:
				<input type="email" name="u.register[-2][Email]" value="{{ form_data.register.Email|default('') }}"/>
			</label>

			<label>
				Subscribe to Newsletter:
				<input type="checkbox" name="u.register[-2][SubscribeToNewsletter]" value="1" {% if form_data.register.SubscribeToNewsletter|default(null) %} checked {% endif %}/>
			</label>

			<label>Age Group:</label>

			<input type="radio" name="u.register[-2][AgeGroup]" id="u.register[-2][AgeGroup]_1" value="1" {% if form_data.register.AgeGroup|default(null) == 1 %} checked {% endif %}/>
			<label for="u.register[-2][AgeGroup]_1">16-25</label>

			<input type="radio" name="u.register[-2][AgeGroup]" id="u.register[-2][AgeGroup]_2" value="2" {% if form_data.register.AgeGroup|default(null) == 2 %} checked {% endif %}/>
			<label for="u.register[-2][AgeGroup]_2">26-35</label>

			<input type="radio" name="u.register[-2][AgeGroup]" id="u.register[-2][AgeGroup]_3" value="3" {% if form_data.register.AgeGroup|default(null) == 3 %} checked {% endif %}/>
			<label for="u.register[-2][AgeGroup]_3">36-45</label>

			<label>
				Grade:
				<select name="u.register[-2][Grade]">
					<option value="" {% if not form_data.register.Grade|default(null) %} selected {% endif %}></option>
					<option value="1" {% if form_data.register.Grade|default(null) == 1 %} selected {% endif %}>Bachelor</option>
					<option value="2" {% if form_data.register.Grade|default(null) == 2 %} selected {% endif %}>Master</option>
					<option value="3" {% if form_data.register.Grade|default(null) == 3 %} selected {% endif %}>Doctor</option>
				</select>
			</label>

			<label>
				Bio:
				<textarea name="u.register[-2][Bio]">{{ form_data.register.Bio|default('') }}</textarea>
			</label>

			<div class="row">
				<div class="large-12 columns">
					<input type="submit" class="button small" name="events[u.register][OnRegister]" value="Register"/>
					<input type="hidden" name="success_url" value="{{ path('index') }}"/>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
