{% extends "PageObject/designs/inside_design.twig" %}

{% block page_title %}PageObject Example / Homepage{% endblock %}

{% block inside_content %}
	<div class="row">
		<div class="large-4 columns" id="block-sidebar">
			<div id="login-sidebox" class="panel">
				{% if logged_in %}
					<a href="{{ url('PageObject.index', {logout: 1}) }}">Logout</a>
				{% else %}
					<form method="post">
						{% if login_error|default(false) == true %}
							<small class="field-error error">Invalid username or password</small>
						{% endif %}

						<label>
							Username:
							<input type="text" name="u.login-sidebox[-2][UserLogin]" value="{{ form_data.login_sidebox.UserLogin|default('') }}"/>
						</label>

						<label>
							Password:
							<input type="password" name="u.login-sidebox[-2][UserPassword]" value="{{ form_data.login_sidebox.UserPassword|default('') }}"/>
						</label>

						<input type="submit" class="small button" name="events[u.login-sidebox][OnLogin]" value="Login"/>
						<input type="hidden" name="success_url" value="{{ url('PageObject.index') }}"/>

						or <a href="{{ path('PageObject.register') }}">Register</a>
					</form>
				{% endif %}
			</div>
		</div>

		<div class="large-8 columns">
			inside content
		</div>
	</div>
{% endblock %}
