{% extends "HtmlElements/designs/inside_design.twig" %}

{% block page_title %}HtmlElements Example{% endblock %}

{% block inside_content %}
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-4 columns" id="block-sidebar">
					<div id="login-sidebox" class="panel">
						{% if logged_in %}
							<a href="{{ url('HtmlElements.index', {logout: 1}) }}">Logout</a>
						{% else %}
							<form method="post">
								{% if login_error|default(false) == true %}
									<small class="field-error error">Invalid username or password</small>
								{% endif %}

								<label>E-mail or Username:</label>
								<input type="text" name="u.login-sidebox[-2][UserLogin]" value="{{ form_data.login_sidebox.UserLogin|default('') }}"/>

								<label>Password:</label>
								<input type="password" name="u.login-sidebox[-2][UserPassword]" value="{{ form_data.login_sidebox.UserLogin|default('') }}"/>

								<input type="submit" class="small button" name="events[u.login-sidebox][OnLogin]" value="Login"/>
								<input type="hidden" name="success_url" value="{{ url('HtmlElements.index') }}"/>

								or <a href="{{ path('HtmlElements.register') }}">Register</a>
							</form>
						{% endif %}
					</div>
				</div>

				<div class="large-8 columns">
					<label>Rating</label>

					<input type="radio" name="rating" value="1" id="rating_1"/><label for="rating_1">One</label>
					<input type="radio" name="rating" value="2" id="rating_2"/><label for="rating_2">Two</label>
					<input type="radio" name="rating" value="3" id="rating_3"/><label for="rating_3">Three</label>
					<input type="radio" name="rating" value="4" id="rating_4"/><label for="rating_4">Four</label>
					<input type="radio" name="rating" value="5" id="rating_5"/><label for="rating_5">Five</label>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
